<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Dashboard</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script type="text/javascript">
  
  function makeRow(key,parques){
    var parque = key;
    var capacidade = parques[key]["free"]+parques[key]["full"];
    var free = parques[key]["free"];
    

    var new_row = document.createElement('tr');
    new_row.setAttribute("class","elem-table");
    new_row.insertCell(0).innerHTML = parque;
    new_row.insertCell(1).innerHTML = capacidade;
    new_row.insertCell(2).innerHTML = free;

    document.getElementById("tablePark").appendChild(new_row);
  }

  window.onload = function(){
        var parques ="{{ parques }}";

        var parques = parques.replace(/&quot;/g,"'");
        var parques = JSON.parse('"' + parques + '"');
        var parques = JSON.parse(parques.replace(/'/g,"\""));
 
        var keys = [];
        for (var k in parques) keys.push(k);
        
        for (var i = 0; i < keys.length; i++) {
          makeRow(keys[i],parques);
        }

        var cores = "{{ cores }}";
        
        var cores = cores.replace(/&#39;/g,"'");
        var cores = JSON.parse('"' + cores + '"');
        var cores = JSON.parse(cores.replace(/'/g,"\""));
        

        var keys_cores = [];
        for (var k in cores) keys_cores.push(k);

        for (var j = 0; j < keys_cores.length; j++) { //Create tables
          var tabelaNova = document.createElement("TABLE");
          if (j==0){
            tabelaNova.setAttribute("style","display: inline-block;")
          }
          else{
            tabelaNova.setAttribute("style","display: inline-block; margin-left: 23px;")
          }
          tabelaNova.setAttribute("id", "tabelaNova"+ keys_cores[j]);

          document.getElementById("cores").appendChild(tabelaNova);
        }

        for (var j=0; j< keys_cores.length; j++){ //Add first row
          var new_row1 = document.createElement('tr');
          new_row1.setAttribute("style","text-align: center; width: 200px; border-collapse: collapse; border: 1px solid black;")
          new_row1.setAttribute("id","newRow1"+keys_cores[j]);
          document.getElementById("tabelaNova"+keys_cores[j]).appendChild(new_row1);
        }

        for (var j=0; j<keys_cores.length;j++){ //Add Heads
          var new_head = document.createElement("TH");
          if (cores[keys_cores[j]]=="green"){
            new_head.setAttribute("style","text-align: center; background-color: green; width: 100px; height: 50px; border-collapse: collapse; border: 1px solid black;")
          }
          else if (cores[keys_cores[j]]=="yellow"){
            new_head.setAttribute("style","text-align: center; background-color: yellow; width: 100px; height: 50px; border-collapse: collapse; border: 1px solid black;")
          }
          else if (cores[keys_cores[j]]=="orange"){
            new_head.setAttribute("style","text-align: center; background-color: orange; width: 100px; height: 50px; border-collapse: collapse; border: 1px solid black;")
          }
          else if (cores[keys_cores[j]]=="red"){
            new_head.setAttribute("style","text-align: center; background-color: red; width: 100px; height: 50px; border-collapse: collapse; border: 1px solid black;")
          }
          else{
            new_head.setAttribute("style","text-align: center; width: 200px; height: 50px; border-collapse: collapse; border: 1px solid black;")
          }
          new_head.setAttribute("id","head"+keys_cores[j]);
          new_head.innerHTML = keys_cores[j];
          document.getElementById("newRow1"+keys_cores[j]).appendChild(new_head);
        }
      }
  </script>
</head>
<body>
  <!-- Side navigation -->
    <div class="sidenav">
      <a href="home" style="margin-top: 20px;">Home</a>
      <a href="people">People</a>
      <a href="parking">Parking</a>
      <a href="meteorology">Meteorology</a>
      <a href="gps">GPS</a>
      <a href="sales">Sales</a>
      <a href="activities">Activities</a>
      <a href="wcs">WCs</a>
      <a href="queue">Queues</a>
      <a href="logout">Logout</a>
    </div>

<!-- Page content -->
<div class="main">
  {% block includes %}
  Username: {{ user }}
  {% endblock includes %}
  <div class="main-text">
    <h4>Occupancy of each parking lot:</h4>
    <div id="cores">

    </div>
    
    <table class="table" id="tablePark">
      <h4 style="margin-top: 50px;">More info:</h4>
      <tr class="head-table">
        <th>Parking lot</th>
        <th>Capacity</th>
        <th>Available spots</th>
      </tr>
    </table>
  
  </div>
</div>
</body>
</html>